main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #0e101c;
  /*overflow-y: scroll;*/ 
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #0e101c;
  /*overflow-y: scroll;*/ 
}




.form {
  border: 3px solid;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  width: 300px;
  overflow: auto;
  max-height: 80vh;
  scrollbar-width: thin; 
  scrollbar-color: #ec5990 #0e101c; 

  &::-webkit-scrollbar-track {
    background: #0e101c;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ec5990;
    border-radius: 6px;
    border: 3px solid #0e101c;

  }

}

.form::-webkit-scrollbar {
  width: 10px;
}

.form::-webkit-scrollbar-track {
  background: #0e101c;
}

.form::-webkit-scrollbar-thumb {
  background-color: #ec5990;
  border-radius: 6px;
  border: 3px solid #0e101c;
}


button[type='button'] {
  background: black;
  border: 1px solid white;
}

p {
  color: #bf1650;
  text-align: center;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.materialUIInput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;

  font-size: 14px;
  font-weight: 200;
}

button,
input[type='submit'] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button {
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

input[type='submit']:hover {
  background: #bf1650;
}

input[type='button']:active,
input[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type='button']:hover {
  transition: 0.3s all;
}

input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
}

.vault {
  display: flex;
  /* border: 1px solid black; */
  padding: 10px;
}
#EnterPass {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 100;
  appearance: none;
  cursor: pointer;
}


.button2 {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 100;
  display: block;
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  flex: 1;
  padding-right: 30px; 
}

.input-icon {
  margin-left: 10px; 
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; 
  margin: 0 auto; 
}


.username-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.username {
  color: white;
  font-weight: bold;
  font-size: 16px;
}


.custom-toast-close-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}


.help-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.help-icon {
  z-index: 9999;
}


.forgot-password-link {
  color: blue; 
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px; 
  font-style: italic;

}

.custom-link {
  text-decoration: none;
  color: white; /* o cualquier otro color que desees */
}


.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}